{{ template "header.html" print "Bot Result for Action #" .Task.Id }}
{{ template "nav.html" }}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Bot Result for Action #{{.Task.Id}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Result
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="panel-body">
                                            <label>Action details</label>
                                            <div class="table-responsive">
                                                <table class="table table-responsive table-bordered table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td>Project</td>
                                                            <td>{{.Task.Project.Name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bot</td>
                                                            <td>{{.Task.Bot.Name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Status</td>
                                                            <td>{{.Task.StatusString}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start time</td>
                                                            <td>{{if .Task.Start_time}}{{.Task.Start_time}}{{else}}--{{end}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>End time</td>
                                                            <td>{{if .Task.End_time}}{{.Task.End_time}}{{else}}--{{end}}</td>
                                                        </tr>
                                                        {{if or (eq .Task.Status 3) (eq .Task.Status 4)}}
                                                        <tr>
                                                            <td>Exit code</td>
                                                            <td>{{.Task.Exit_status}}</td>
                                                        </tr>
                                                        {{end}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {{if or (eq .Task.Status 3) (eq .Task.Status 4)}}
                                    <div class="jumbotron">
                                        <p class="lead" style="padding-left: 10px">
                                        {{.Output}}
                                        </p>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{{ template "footer.html" }}
