{{ template "header.html" "Profile" }}
{{ template "nav.html" .Subdir }}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Profile</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User information
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>General</label>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-responsive table-bordered table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <td>User ID</td>
                                                                <td>{{.User.Id}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>User name</td>
                                                                <td>{{.User.User_name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Real name</td>
                                                                <td>{{.User.Real_name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email Address</td>
                                                                <td>{{.User.Email}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Statistics</label>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-responsive table-bordered table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <td>GitHub Projects</td>
                                                                <td>{{.User_statistics.GH_projects}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bots Used</td>
                                                                <td>{{.User_statistics.Bots_used}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Currently Unfinished Actions</td>
                                                                <td>{{.User_statistics.Tasks_unfinished}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Actions Performed</td>
                                                                <td>{{.User_statistics.Tasks_total}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            API Access
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="/user/api_token" method="post" role="form">
                                        <div class="form-group">
                                            <label>Statistics</label>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-responsive table-bordered table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <td>Last Access</td>
                                                                <td>{{ if .API_statistics.Was_accessed }}{{.API_statistics.Last_access.Format "Mon Jan _2 15:04:05 2006" }}{{ else }}<i>Never accessed.</i>{{ end }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Remaining Accesses (Interval: {{.API_statistics.Interval}})</td>
                                                                <td>{{.API_statistics.Remaining_accesses}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Access token</label><br />
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    New Token
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                                <input type="text" size=50 class="form-control" placeholder="What is the token used for?" name="name" id="name">
                                                            </div>
                                                            <button id="add-btn" disabled class="btn btn-success" type="submit">Add New Token</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ if eq 0 (len .API_tokens) }}
                                            <br />
                                            <i>None</i>
                                            {{ else }}
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Token</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{ $Subdir := .Subdir }}
                                                            {{ range .API_tokens }}
                                                            <tr>
                                                                <td>{{.Name}}</td>
                                                                <td><pre>{{.Token}}</pre></td>
                                                                    <td><a href="{{$Subdir}}user/api_token/revoke?token={{.Token}}"><button type="button" class="btn btn-success">Revoke</button></a></td>
                                                            </tr>
                                                            {{ end }}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Workers
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Registration</label>
                                            <p>
                                                Your personal registration token is <pre>{{.User.Worker_token}}</pre>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Registered Workers</label>
                                            {{ if eq 0 (len .Workers) }}
                                            <br />
                                            <i>None</i>
                                            {{ else }}
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Token</th>
                                                                <th>Name</th>
                                                                <th>Last Contact</th>
                                                                <th>Active</th>
                                                                <th>Shared</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{ $Subdir := .Subdir }}
                                                            {{ range .Workers }}
                                                            <tr>
                                                                <td>{{.Id}}</td>
                                                                <td><pre>{{.Token}}</pre></td>
                                                                <td>{{.Name}}</td>
                                                                <td>{{.Last_contact.Format "Mon Jan _2 15:04:05 2006"}}</td>
                                                                <td>{{ if .Active }}Yes{{ else }}No{{ end }}</td>
                                                                <td>{{ if .Shared }}Yes{{ else }}No{{ end }}</td>
                                                                <td><a href="{{$Subdir}}user/worker/deregister?token={{.Token}}"><button type="button" class="btn btn-success">Deregister</button></a></td>
                                                            </tr>
                                                            {{ end }}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{{ template "footer.html" print .Subdir "user-apitoken-new-validate.js" }}
